*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
table{
    width: 100%;
    text-align: left;
    border-spacing: 20px 17px;
}
tr{
    margin-bottom: 10px;
}
.row{
    display: flex;
    align-items: center;
}
.sys-col{
    width: 100%;
}
.container{
    width: 95%;
    margin: 0 auto;
}
header{
    padding: 15px;
    background-color: blue;
    color: white;
    margin-bottom: 30px;
}
.sys-navbar{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: flex-end;
}
.sys-navbar li{
    margin-right: 10px;
}
.sys-navbar li a{
    text-decoration: none;
    color: white;
}

.theme-selection{
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.sys-dark-theme{
    background-color: black;
    color: white;
}

.sidebar-container{
    display: flex;
    align-items: flex-start;
}
.sys-sidebar{
    width: 16%;
    box-shadow: 0px 4px 13px 0px #8080800f;
}

.sidebar-content{
    width: 100%;
}
.sidebar-navigation {
    padding: 10px;
    border-radius: 4px;
}
.sidebar-navigation ul{
    list-style-type: none;
    margin-top: 10px;
}
.sidebar-navigation ul li{
    display: block;
    margin-bottom: 18px;
    position: relative;
}

.active:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 27px;
    background: blue;
    left: -10px;
}

.sidebar-navigation ul li a{
    text-decoration: none;
    color: black;
}